<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
  <appSettings>
    <add key="user1" value="ecnomercy" />
    <add key="pass1" value="oauth:e0tewn93k0d0ijiwqe1uns9l8xys0d" />
    <add key="chan1" value="nightfallcall" />
    <add key="chan2" value="ecnomercy" />
    <add key="chan3" value="rappack" />
    <add key="chan4" value="srkevo3" />
    <add key="chan5" value="capcomfighters" />
    <add key="chan6" value="srkevo1" />
    <add key="chan7" value="srkevo2" />
    <add key="chan8" value="brtt" />
    <add key="chan9" value="" />
    <add key="chan10" value="" />
  </appSettings>
</configuration>